/* src/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans text-[1.5] font-normal;
  /* @apply bg-dark-bg text-dark-text; */
  @apply [font-synthesis:none] [text-rendering:optimizeLegibility] [font-smoothing:antialiased] [moz-osx-font-smoothing:grayscale];
}

/* a {
  @apply font-medium text-link no-underline;
} */

a:hover {
  @apply text-link-hover;
}

html, body, #root {
  @apply h-screen m-0 p-0;
}

#root {
  @apply flex flex-col;
}

body {
  @apply flex items-center min-w-[320px] min-h-screen;
}

.fullscreen {
  @apply h-full flex flex-col;
}

.flex-1 {
  @apply flex-1;
}

h1 {
  @apply text-[3.2em] leading-tight;
}

button {
  @apply rounded-lg border border-transparent px-[0.6em] py-[1.2em] text-base font-medium bg-button-bg-dark cursor-pointer transition-colors;
}

button:hover {
  @apply border-button-border-hover;
}

button:focus,
button:focus-visible {
  @apply outline-none ring-4 ring-button-focus-outline;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply bg-light-bg text-light-text;
  }

  a:hover {
    @apply text-[#747bff];
  }

  button {
    @apply bg-button-bg-light;
  }
}
